# Arithmatic Oporators

## Arithmatic Oporators in numbers

### Addition Oporator

In [151]:
2 + 2

4

### Subtraction Oporator

In [152]:
2 - 2

0

### Multiplication Oporator

In [153]:
2 * 2

4

### Division Oporator

In [154]:
2 / 2

1.0

### Floor Division Oporator

In [155]:
2 // 2

1

### Modulus Oporator

In [156]:
3 % 2

1

## Arithmatic Oporators in string

### Addition Oporator in string (+)

In [157]:
"string1" + "string2"

'string1string2'

We can use addition oporator in string to add two or more strings together and it is called string concatenation.

In [158]:
'string1' + 2

TypeError: can only concatenate str (not "int") to str

You can only concatenate strings with strings not integers.

### Subtraction Oporator in string (-)

In [ ]:
'string1' - 'string12'

the subtraction operator `-` is not supported for string types in Python

In [ ]:
'string1' - 2

the subtraction operator `-` is not supported for string types in Python. also you can't subtract a string from an integer.

### Multiplication Oporator in string (*)

In [ ]:
'string1' * 'string2'

We can't multiply a string by a string.

In [ ]:
'string1' * 2

the multiplication operator `*` is not supported for string types in Python. also you can't multiply a string with an integer.

### Exponent Oporator in string (**)

In [ ]:
'string1' ** 'string2'

You can't exponentiate a string by a string.

In [ ]:
'string1' ** 2.2

You can't exponentiate a string by an number.

### Division Oporator in string (/)

In [ ]:
'string' / 'string2'

The / oporator is not supported for string types in Python.

In [ ]:
'string1' / 2

The / oporator is not supported for string types in Python. also you can't divide a string from an integer.

### Floor Division Oporator in string

In [ ]:
'string1' // 'string2'

The // oporator is not supported for string types in Python.

In [ ]:
'string1' // 2

The // oporator is not supported for string types in Python. also you can't divide a string from an integer.

# Comparison Oporators

## Comparison Oporators in numbers

### Equal Oporator (==)

In [ ]:
4 == 4

True if both operands are equal.

In [ ]:
4 == 5

False if both operands are not equal.

### Not equal operator (!=)

In [ ]:
2 != 3

The not equal operator returns True if the operands are not equal.

In [ ]:
2 != 2

This operator returns False if the operands are equal.

### Greater than operator (>)

In [ ]:
2 > 1

This operator returns True if the left operand is greater than the right operand.

In [ ]:
2 > 3

This operator returns False if the left operand is less than or equal to the right operand.

### Less than operator (<)

In [ ]:
2 < 3

This operator returns True if the left operand is less than the right operand.

In [ ]:
2 < 1

This operator returns False if the left operand is greater than or equal to the right operand.

### Greater than or equal to operator (>=)

In [ ]:
3 >= 3

This operator returns True if the left operand is greater than or equal to the right operand.

In [ ]:
3 >= 4

This operator returns False if the left operand is less than the right operand.

### Less than or equal oporator (<=)

In [ ]:
2 <= 2

This oporator returns True if the left operand is less than or equal to the right operand.

In [ ]:
2 <= 1

## Comparison Oporators in string

### Equal Oporator in string (==)

This oporator returns True if the left operand is equal to the right operand.

In [ ]:
'string1' == 'string2'

This oporator returns False if the left operand is not equal to the right operand.

### Not equal operator in string (!=)

In [ ]:
'string' != 'string2'

This oporator returns True if the left operand is not equal to the right operand.

In [ ]:
'string1' != 'string1'

This oporator returns False if the left operand is equal to the right operand.

### Less than operator in string (<)

In [ ]:
'string1' < 'string2'

In string, the less than oporator returns true if the ASCII value of the first character in the left operand is less than the ASCII value of the first character in the right operand.

In [ ]:
'string1' < 'string0'

In string, the less than oporator returns false if the ASCII value of the first character of the left operand is greater than the ASCII value of the first character of the right operand.

### Greater than operator in string (>)

In [ ]:
'string2' > 'string1'

In string, the greater than oporator returns true if the ASCII value of the first character of the left operand is greater than the ASCII value of the first character of the right operand.

In [ ]:
'a' > 'b'

In string, the greater than oporator returns false if the ASCII value of the first character of the left operand is less than the ASCII value of the first character of the right operand.

### Less than or equal to operator in string (<=)

In [ ]:
'a' <= 'a'

In [ ]:
'a' <= 'b'

In string, the less than or equal to oporator returns true if the ASCII value of the first character of the left operand is less than or equal to the ASCII value of the first character of the right operand.

In [ ]:
'b' <= 'a'

In string, the less than or equal to oporator returns false if the ASCII value of the first character of the left operand is greater than the ASCII value of the first character of the right operand.

# Logical Oporators

## Logical Oporators in Boolean

### and oporator

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
False and True

In [ ]:
False and False

And oporator returns True if both operands are True and returns False if one or both operands are False.

### or oporator

In [ ]:
True or True

In [ ]:
True or False

In [ ]:
False or True

In [ ]:
False or False

or oporator returns True if any of the operands are True and it returns False if both operands are False.

### not oporator

In [ ]:
not True
not 1

In [ ]:
not False
not 0

not oporator returns True if the operand is False and returns False if the operand is True.

# Assignment operators

### Assignment operator (=)

In [ ]:
name = 'Stephen'
last_name = 'Hawking'
print(name + ' ' + last_name)
age = 22
print(age)
marriage_situation = False
print(marriage_situation)
IELTS_score = 7.5
print(IELTS_score)

Stephen Hawking
22
False
7.5

This operator assigns the value of the right operand to the left operand. the value of the right operand can be different types of data like integer, float, string boolean, etc.

### Addition assignment operator (+=)

#### In strings

In [ ]:
name += last_name 
print(name)

StephenHawkingHawking

#### In numbers

In [ ]:
age += 1
print(age)

This operator adds the value of the right operand to the left operand and assigns the result to the left operand and it can be used with both numbers and strings.

### Subtraction assignment operator (-=)

#### In strings

In [ ]:
name -= last_name
print(name)

TypeError: unsupported operand type(s) for -=: 'str' and 'str'

#### In numbers

In [ ]:
age -= 1
print(age)

22

This oporator can't be use with string because the subtraction operator `-` is not supported for string types in Python but you can use it with numbers and it subtracts the value of the right operand from the left operand and assigns the result to the left operand.

### multiplication assignment operator (*=)

We can't use multiplication assignment oporator with strings but we can multiply a string with an integer.

#### In strings

In [ ]:
name *= last_name
print(name)
name *= 2
print(name)

TypeError: can't multiply sequence by non-int of type 'str'

#### In numbers

In [ ]:
age *= 2
print(age)

44

### Division assignment operator (/=)

we can't use division assignment oporator with strings but we can divide a Number with an Number.

#### In string

In [ ]:
name /= last_name
print(name)

TypeError: unsupported operand type(s) for /=: 'str' and 'str'

#### In numbers

In [ ]:
age /= 2
print(age)

11.0

### Floor division assignment operator (//=)

We can't use floor division assignment oporator with strings but we can divide a number with an number.

#### In strings

In [ ]:
name //= last_name
print(name)

TypeError: unsupported operand type(s) for //=: 'str' and 'str'

#### In numbers

In [ ]:
age //= 2
print(age)

2.0

### Remainder assignment operator (%=)

We can use remainder assignment oporator with numbers but we can't use it with strings.

#### In strings

In [ ]:
name %= last_name
print(name)

TypeError: not all arguments converted during string formatting

#### In numbers

In [ ]:
age %= 2
print(age)

0.0